.#{$player} .midroll-display {
	height: 100%;
	width: 100%;
	position: absolute;

	.midroll-marker {
		width: 5px;
		height: 100%;
		position: absolute;
		background-color: #fbe708;
	}

	
}

.#{$player} .control-bar .countdown-midroll {
	position: absolute;
    bottom: 10px;
    left: 10px;
    height: 10px;
    color: #d6d3d3;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

.#{$player} .control-bar .countdown-midroll span {
	font-weight: bold;
	color: #fff;
}

